* {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

body {
	/*background: transparent;*/
	transition-duration: .4s;
}

.scanner .top,
.scanner .bottom {
	transition-duration: .4s;
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 100%;
	background: blue;
}

.scanner .top {
	top: -100%;
}

.scanner .bottom {
	bottom: -100%;
}

.scanner .bottom .button {
	width: 50%;
	/*float: left;*/
}

body.scan .scanner .top {
	top: -80%;
}

body.scan .scanner .bottom {
	bottom: -80%;
}

header {
	padding-top: 20px;
	line-height: 44px;
	background: #eee;
	text-align: center;
	font-weight: bold;
}

#camera-scan {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	border: 0;
	background: #e74c3c;
	color: #fff;
	font-size: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}