* {
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
}

body {
	background: #EDEEF0;
}

.header {
	position: fixed;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: "Roboto", Arial;
	font-weight: 600;
	font-size: 20px;
	/*color: #333;*/
	color: #fff;
	/*background: #FEFEFE;*/
	background: #507299;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.main-wrapper {
	width: 500px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 50px;
}

.post {
  	border-radius: 4px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	background: #FEFEFE;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-family: "Roboto";
}

.post:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.post-title {  }
.post-info {
	color: #555;
	font-size: 0.8em;
	margin-top: -2px;
}
.post-content {
	padding: 5px;
	margin-top: 6px;
	font-weight: 300;
}