* {
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
}

body {
	/*background: #EDEEF0;*/
	background: #303030;
	color: #eee;
	transition-duration: 0.5s;
}


.theme {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 10px;
	text-align: center;
	border-radius: 25px;
	background-color: #fff;
	color: #333;
	position: fixed;
	top: calc(100% - 70px);
	left: calc(100% - 70px);
}

.header {
	position: fixed;
	width: 100%;
	height: 50px;
	text-align: center;
	color: #fff;
	/*background: #507299;*/
	background: #212121;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition-duration: 0.5s;
}

.icon {
	padding: 5px;
	height: 80%;
}

.main-wrapper {
	width: 600px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 50px;
}

.post {
  	border-radius: 4px;
	padding: 20px;
	margin-top: 20px;
	/*background: #FEFEFE;*/
	background: #212121;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-family: "Roboto";
}


.post:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.post-title {  }
.post-info {
	/*color: #555;*/
	color: #ddd;
	font-size: 0.8em;
	margin-top: -2px;
}
.post-content {
	padding: 5px;
	margin-top: 6px;
	font-weight: 300;
}