* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Slab', sans-serif;
}

#space {
	position: fixed;
	width: 100%;
}

#warp {
	background: rgba(0,0,0,0.8);
	border: 2px solid;
	bottom: 0;
	color: rgba(209, 255, 255,1);
	display: inline-block;
	font-size: 1.2em;
	font-weight: 700;
	left: 0;
	margin: 20px auto;
	padding: 1em;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	width: 10em;
	z-index: 0;
}

.main {
	position: fixed;
	width: 400px;
	max-height: 400px;
	background: rgba(255,255,255,.9);
	border-radius: 10px;
	text-align: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	overflow: hidden;
}

.header {
	display: block;
	height: 60%;
}

.icons {
	height: 20%;
}

.icons li {
	display: inline-block;
}

.icons li a {
	/*padding: 24px 10px 16px 10px;*/
	padding: 1em .5em;
	text-decoration: none;
	color: #333;
}

.icons li a:before {
	display: block;
	border: solid 1px #333;
	border-radius: 50%;
	padding: .7em;
	width: 1em;
	height: 1em;
}

.content {
	position: relative;
	height: 100%;
}

.avatar {
	position: relative;
	display: block;
	font-size: 0;
	margin: 0 auto;
	overflow: hidden;
}

.avatar img {
	border-radius: 50%;
	margin: 0 auto;
	padding: 0 .5em;
}
/*
.avatar:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #444;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: -1;
}*/

.bottom-buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.action-button {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#projects-link {
	/*bottom: 0;*/
	display: block;
	width: 100%;
	background: #333;
	color: #fff;
	line-height: 50px;
	cursor: pointer;
}



.footer {
	bottom: 0;
	display: block;
	width: 100%;
	position: fixed;
	text-align: center;
	z-index: 1;
}