body {
    padding: 0;
    margin: 0;
    background: #efefef;
}

.wrapper {
    overflow: hidden;
    background: #ffffff;
    width: 700px;
    height: 500px;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    border: 1px solid #fff;
}


.wrapper .header {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper .header img {
    height: 100%;
    position: absolute;
    bottom: 0;
    transition-duration: 2s;
    left: 0px;
}

.wrapper.open .header img {
    height: 800%;
    left: -160px;
}
