body {
    padding: 0;
    margin: 0;
    background: #efefef;
}

.wrapper {
    overflow: hidden;
    background: #1a1a1a;
    width: 700px;
    height: 500px;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    border: 1px solid #fff;
}


.wrapper .header {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper .header img {
    /* height: 1200px; */
    height: 900px;
    /* width: 1920px; */
    /* width: 1440px; */
    position: absolute;
    /* bottom: 0; */
    top: 0px;
    transition-duration: 4s;
    transition-timing-function: ease;
    /* left: -610px; */
    left: -457.5px;
}

body.open .wrapper .header img {
    /* height: 1200px; */
    /* left: -610px; */
    transform: scale(1.4);
    top: -900px;
}

.go {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 250px;
    border: 1px solid #000000;
    border-bottom: 0;
}

.go .head {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    background: rgb(255,255,0);
    float: left;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.go .body {
    float: left;
    height: 100%;
    width: 160px;
    background: rgba(0,0,0,.5);
}
