/*#4d4d4d*/
/*#808080*/
/*#f1f4f5*/
/*#ef5f60*/

/*width 1170px*/


* {
	font: 1em "Bebas Neue";
	margin: 0;
	padding: 0;
	color: #4d4d4d;
}

body, html {
	min-width: 1170px;
}

span.red {
	color: #ef5f60;
	text-shadow: 0 1px #f1f4f5;
}

.container {
	margin: 0 auto;
	width: 1170px;
}





/************/
/****MENU****/
/************/

.nav {
	padding-top: 50px;
	height: 104px;
}

.menu {
	height: 44px;
	margin: 0;
	padding: 0;
	position: relative;
}

.menu .logo {
	float: left;
	position: absolute;
}

.menu .social {
	position: absolute;
	top: 4px;
	right: 0;
}

.menu ul {
	float: right;
}

.menu li {
	display: inline-block;
	height: 44px;
	list-style: none;
}

.menu li a {
	/*color: #4d4d4d;*/
	display: inline-block;
	font-weight: bold;
	font: 16px "Bebas Neue";
	letter-spacing: 1.5px;
	margin: 14px 27px 14px 27px;
	text-align: center;
	text-decoration: none;
	transition-duration: .2s;
}

.menu li a:hover {
	color: #ef5f60;
}

.menu li:last-child {
	padding-right: 40px;
}




/***************/
/*info wrapper*/
/**************/

.info {
	position: relative;
	background: #f1f4f5;
	height: 205px;
	width: 100%;
}

.info .big-title {
	/*color: #4d4d4d;*/
	/*margin-top: 68px;*/
	/*position: absolute;*/
	display: block;
	font-family:'Bebas Neue Book';
	font-size:36px;
	letter-spacing: 1.5px;
	position: relative;
	top: 68px;
}

.info .small-title {
	/*position: absolute;*/
	bottom: 36px;
	color: #808080;
	display: block;
	font: 16.5px Arial;
	margin-top: 124px;
	position: relative;
}




/****************/
/****Portfolio***/
/****************/

.portfolio .head {
	font: 15px 'Bebas Neue Bold';
	height: 42px;
	letter-spacing: 1.5px;
	margin-bottom: 16px;
	margin-top: 70px;
}

.portfolio .head .title {
	float: left;
	font: 21px 'Bebas Neue Bold';
	padding: 13px 0 13px 0;
}

.portfolio .head .filter {
	background: #ef5f60;
	color: #fff;
	cursor: pointer;
	float: right;
	padding: 15px;
	transition-duration: .4s;
}

.portfolio .head .filter:hover {
	background: #d95657;
}

.portfolio .works {
	font-size: 0;
}

.portfolio .works .row {
	margin-top: 15px;
	position: relative;
}

.portfolio .works .row .img {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 380px;
}
.portfolio .works .row .img:first-child {
	margin-right: 15px;
}

.portfolio .works .row .img:last-child {
	margin-left: 15px;
}

.portfolio .works .row .img:before {
	background: radial-gradient(transparent, rgba(64,64,64,.4));
	content: "";
	height: 100%;
	opacity: 0;
	position: absolute;
	transition-duration: .5s;
	width: 100%;
}

.portfolio .works .row .img:hover:before {
	opacity: 1;
}

.portfolio .contact {
	margin-top: 65px;
}

.portfolio .contact .title {
	display: block;
	font: 28px 'Bebas Neue Book';
	letter-spacing: 1.5px;
	text-align: center;
}

.portfolio .contact .button {
	background: #ef5f60;
	color: #fff;
	cursor: pointer;
	display: block;
	font: 16px 'Bebas Neue Bold';
	height: 40px;
	letter-spacing: 1.2px;
	line-height: 40px;
	margin: 25px auto;
	position: relative;
	text-align: center;
	text-indent: 26px;
	transition-duration: .4s;
	width: 114px;
}

.portfolio .contact .button:hover {
	background: #d95657;
}

.portfolio .contact .button:before {
	background: url('../images/envelope.png');
	content: "";
	height: 16px;
	left: 10px;
	position: absolute;
	top: 12px;
	width: 16px;
}




/****************/
/****SERVICES****/
/****************/

.services {
	margin-top: 68px;
}

.services .head .title {
	/*color: #4d4d4d;*/
	display: block;
	font: 21px 'Bebas Neue Bold';
	letter-spacing: 1.5px;
}

.services .head .description {
	color: #808080;
	display: block;
	font: 16.5px Arial;
	margin-top: 26px; 
}

.services .cards {
	/*display: flex;*/
	margin-top: 48px;
}

.services .card {
	display: inline-block;
	/*background: #eee;*/
	/*display: inline-block;*/
	/*margin: 0 10px 0 10px;*/
	height: 300px;
	/*margin: auto;*/
	margin-left: 16px;
	position: relative;
	width: 270px;
}

.services .card .icon {
	background-color: #f1f4f5;
	border-radius: 50%;
	height: 110px;
	margin: 0 80px;
	width: 110px;
}

.services .card .title {
	display: block;
	font: 19px 'Bebas Neue Bold';
	letter-spacing: 1.3px;
	margin-top: 38px;
	text-align: center;
}

.services .card .description {
	color: #808080;
	display: block;
	font: 16.5px Arial;
	line-height: 26px;
	margin-top: 25px;
	text-align: center;
}

.love {background: url(../images/whatdo/love.png) center no-repeat;}
.print {background: url(../images/whatdo/print.png) center no-repeat;}
.responsive {background: url(../images/whatdo/responsive.png) center no-repeat;}
.tv {background: url(../images/whatdo/tv.png) center no-repeat;}




/**************/
/***JOURNAL****/
/**************/

.journal {
	margin-top: 90px;
}

.journal .head .title {
	/*color: #4d4d4d;*/
	display: block;
	font: 21px 'Bebas Neue Bold';
	letter-spacing: 1.5px;
}

.journal .head .description {
	color: #808080;
	display: block;
	font: 16.5px Arial;
	margin-top: 26px; 
}

.journal .cards {
	display: inline-block;
	margin-top: 10px;
}

.journal .cards .card {
	 /*background: red; */
	float: left;
	height: 180px;
	margin-top: 50px;
	position: relative;
	width: 570px;
}

.journal .card .text {
	left: 205px;
	position: absolute;
	width: 360px;
}

.journal .date {
	color: #c3c3c3;
	display: block;
	font: 17px 'Bebas Neue Regular';
	letter-spacing: 1.3px;
	margin-top: 1px;
}

.journal .title {
	color: #4d4d4d;
	display: block;
	font: 21px 'Bebas Neue Bold';
	margin-top: 20px;
}

.journal .description {
	color: #c3c3c3;
	display: block;
	font: 16.5px Arial;
	line-height: 29px;
	margin-top: 25px;
}

.fi {background: url(../images/journal/1.png) left no-repeat;}
.se {background: url(../images/journal/2.png) left no-repeat;}
.th {background: url(../images/journal/3.png) left no-repeat;}
.fo {background: url(../images/journal/4.png) left no-repeat;}




/************/
/***FOOTER***/
/************/

.footer {
	background: #2d2d30;
	height: 205px;
	margin-top: 150px;
	position: relative;
	width: 100%;
}

.footer .copyright {
	color: #bdbdbd;
	display: block;
	display: block;
	font: 16.5px Arial;
	margin-top: 68px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.footer .social-icons {
	display: flex;
	margin: 0 auto;
	position: relative;
	top: 110px;
	width: 178px;
}

.footer .icon {
	margin: auto;
}