@import "https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic";

body {
    background-color: #f2f2f2;
    background-size: cover;
    font-family: -apple-system, "Roboto" ,sans-serif;
    margin-bottom: 25px;
    padding-top: 50px;
}
html {
    min-height: 100%;
    position: relative;
}
#no-container {
    margin: 0 0 15px;
}
.img-wel {
    background-color: #426899;
    background-image: url("/images/wylsa-vks.jpg");
    background-position: right 20% top 32%;
    background-repeat: no-repeat;
    background-size: 410px auto;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.5) inset;
    height: 200px;
}
@media (max-width: 480px) {
.img-wel {
    background-position: center center;
    background-size: 320px auto;
}
}
@media (max-width: 767px) {
.img-wel {
    background-position: center center;
}
}
@media (min-width: 768px) and (max-width: 979px) {
.img-wel {
    background-size: 320px auto;
}
}
.img-well {
    position: relative;
    z-index: -1;
}
.auth-massage .alert, .download-massage .alert {
	margin: 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: 300;
	
}
.auth-massage .alert-danger, .download-massage  .alert-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #ffffff;
}

.download-massage .alert-success {
color: #fff;
background-color: #5cb85c;
}

.download-massage .alert-info {
	background-color: #5bc0de;
    color: #fff;
}

.alert-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #ffffff;
}
.download-massage .alert {
	font-weight: 400 !important;
}
.welcome {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
}
.people {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}
.btn {
    border-radius: 0;
}
.btn-primary {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.navbar-brand {
    padding: 10px 10px 0 15px;
}
.row {
    margin-bottom: 15px;
}
.box-info {
    color: #a94442;
    background-color: #f2dede;
    padding: 5px;
    text-align: center;
}
.box-info a {
    color: #fff;
    text-decoration: underline;
}
.box-info-warning {
color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 5px;
    text-align: center;
}
.modal-content {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
.control-label {
    padding-top: 7px;
}
.modal-dialog {
    width: 300px;
}
.box a {
    text-decoration: none;
}
.box-title {
    font-size: 22px;
    font-weight: 300;
    padding: 15px 10px 0;
    text-align: center;
}
.box-desc {
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px 10px;
    text-align: center;
    margin-top: 17px;
}
.step {
    font-size: 26px;
    font-weight: 300;
    left: 15px;
    position: absolute;
    top: 15px;
}
.box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    position: relative;
}
.box-button {
    background-color: #5bc0de;
    color: #fff;
    height: 40px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.modal-header {
    padding: 15px 15px 10px;
}
.app-block {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    margin-right: 0;
	margin-bottom: 10px;
    position: relative;
}

.about-block {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    margin-right: 0;
	margin-bottom: 10px;
    position: relative;
}

.slider-block {
	padding: 10px 10px 0px 10px;
}
#footer {
    background: #535353 none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
}
.input-group {
    border-collapse: separate;
    display: block;
    position: relative;
}
.footer-text {
    color: #fff;
    font-weight: 300;
    padding-top: 12px;
    text-align: center;
}
.footer-text a {
    color: #fff;
}
.icon {
    height: 80px;
    width: 80px;
}
.name {
    font-size: 17px;
    font-weight: 300;
    padding-top: 3px;
    z-index: -2;
}
.desc {
    font-size: 12px;
    font-weight: 300;
    line-height: 120%;
    z-index: -2;
}
.apps, .faq {
    margin-top: 10px;
}

.apps {
	margin-bottom: 15px;
}

.install-app {
    bottom: 10px;
    color: #528dd1;
    position: absolute;
    right: 10px;
    width: 25px;
    z-index: 6;
}
.col-install {
    height: 80px;
    padding-top: 50px;
    text-align: right;
    width: 22px;
}
.button-apps {
    border: 1px solid #fff;
    border-radius: 5px;
    bottom: -20px;
    font-size: 14px;
    font-weight: 300;
    max-width: 95px;
    padding: 4px 8px;
    position: relative;
    text-shadow: none;
}
.navbar, .navbar-inverse {
    background: #535353 none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-toggle {
    border: medium none;
}
.navbar-brand a {
    color: #fff;
}
.navbar.navbar-inverse li a {
    color: #fff;
}
.form-signin, .form-registration {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-control, .form-registration .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus, .form-registration .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.form-registration input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-registration input[type="email"] {
    border-radius: 0;
    margin-bottom: -1px;
}
.form-registration input[type="password"] {
    border-radius: 0;
    margin-bottom: -1px;
}
.form-registration input[type="password_repeat"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.page-app-icon {
    height: 150px;
    padding-left: 0;
    width: 150px;
}
.inst-extended {
    width: inherit;
}
.page-col-icon {
    height: 150px;
    padding-left: 0;
    text-align: left;
    width: 150px;
}
.page-app-name {
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}
.page-app-desc {
    font-weight: 300;
    padding: 0 15px 15px;
}
.tab-content {
    padding: 0;
	line-height: 130%;
}
.tab-pane {
    padding: 10px 15px;
}
.tab-comments {
    padding: 0;
}
.nav-tabs {
    border: medium none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.nav-tabs li a {
    margin-right: 0;
    padding: 11px 12px;
    position: relative;
}
.nav-tabs li a:hover {
    border: medium none;
    border-radius: 0;
}
.page-app-title {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}
.page-col-left {
    min-width: 300px;
}
.page-app-author, .page-app-version, .page-app-install {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}
.vk-bg {
    background-color: #4c75a3;
    text-align: center;
}
.app-block-install {
    background-color: #5bc0de;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
.page-col-right {
    min-width: 300px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #5bc0de;
    border-radius: 0;
    border-width: 0;
    color: #fff;
}
.fa-vk, .fa-facebook, .fa-twitter {
    font-size: 50px;
}
.share {
    margin-bottom: 10px;
    text-align: center;
}
.share a:hover {
    text-decoration: none;
}
.share-vk, .share-facebook, .share-twitter {
    cursor: pointer;
    margin: 0 10px;
}
.col-icon {
    height: 80px;
    padding-left: 0;
    text-align: left;
    width: 80px;
}
.page-app-desc-tabs {
    font-weight: 300;
    padding: 0;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.tab-pane li {
}
.inst-bg {
    background-image: url("https://f0x.pw/images/instagram-bg.jpg");
    text-align: center;
}
.share {
    margin-bottom: 45px;
}
.ribbon {
    height: 75px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 75px;
    z-index: 1;
}
.ribbon span {
    background: rgba(0, 0, 0, 0) linear-gradient(#e60000 0%, #e60000 100%) repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    right: -21px;
    text-align: center;
    top: 10px;
    transform: rotate(45deg);
    width: 80px;
}
.soap-bg {
    background-color: #ac92ec;
    text-align: center;
}
.bott {
    margin-bottom: 0;
}
.form-horizontal {
    margin: 0;
}
.margin {
    margin-bottom: 0;
}
.modal-footer {
    padding: 0;
    text-align: left;
}
.width-200 {
    border: medium none;
    float: right;
    margin: 0;
    padding: 10px 12px;
    width: 200px;
}
.width-100 {
    border: medium none;
    float: left;
    margin: 0;
    padding: 10px 12px;
    width: 100px;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 0;
}
a:focus, a:hover {
    text-decoration: none;
}
.jailbreak-table {
	text-align: center;
	margin-top:16px;
	font-weight: 300;
}

.vers {
	font-size: 20px;
	font-weight: 400;
}
.status {

}
.col-name {
	padding-left: 10px;
	padding-top: 3px;
}

.download {
	padding-left: 10px;
	padding-right: 10px;
}

.activation-bar {
	color: #fff;
	padding: 17px 5px 15px 5px;
	text-align: center;
	background-color: #ec971f !important;
	display: block;
	text-transform: uppercase;
	font-size: 13px;
}
.container {
	padding-left: 10px !important;
	padding-right: 10px !important;
    color: #333333;
	line-height: 130%;
}
@media (max-width: 480px) {
.welcome, .people {
    color: #676a6c;
    margin-top: 15px;
	margin-bottom: 15px;
}
.auth-massage .alert, .download-massage .alert {
    margin-bottom: 0px;
}
}
@media (max-width: 767px) {
.welcome, .people {
    color: #676a6c;
    margin-top: 15px;
	margin-bottom: 15px;
}
.auth-massage .alert, .download-massage .alert {
    margin-bottom: 0px;
}
}
.owl-carousel .item img {
	text-align:right;
}
.bg {
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.5) inset;
    height: 250px;
}
.slider-text-1 {
	color: #333;
	font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    text-align: center;
	padding-top: 20px;
}
.slider-text {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    text-align: center;
	padding-top: 20px;
}
.item-1 {
  z-index: 10;
  position: relative;
  background-image:url("/images/vks-slider.png");
  background-position: right -120px top 61%;
  background-repeat:no-repeat;
  background-size:1080px;
}
.item-2 {
	background-image: url("/images/insta-slider.png");
background-position:right -30% top 68%;
  background-repeat:no-repeat;
  background-size:1080px;
}
.item-3 {
	background-image: url("/images/f0x-slider.png");
background-position:right -30% top 47%;
  background-repeat:no-repeat;
  background-size:1080px;
}


@media (max-width: 480px) {
.item-1  {
    background-position: center center;
    background-size:1080px;
}
.bg {
    box-shadow: 0 240px 115px -15px rgba(0, 0, 0, 0.5) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.5) inset;
}
.item-2 {
	background-position: center top 68%;
}
.item-3 {
	background-position: center top 47%;
}
.slider-text-1 {
	color: #fff;
	font-weight: 400;
}
.slider-text {
	font-weight: 400;
}
}



@media (max-width: 767px) {
.item-1  {
	background-position: center top 61%;
}
.item-2 {
	background-position: center top 68%;
}
.item-3 {
	background-position: center top 47%;
}
.bg {
    box-shadow: 0 240px 115px -15px rgba(0, 0, 0, 0.5) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.5) inset;
}
.slider-text-1 {
	color: #fff;
	font-weight: 400;
}
.slider-text {
	font-weight: 400;
}
}

@media (min-width: 768px) and (max-width: 810px) {
.item-1 {
	background-position:right 104% top 61%;
    background-size:1080px;
}
.item-2 {
	background-position:right 104% top 68%;
}
.item-3 {
	background-position:right 110% top 47%;
}
}



@media (min-width: 811px) and (max-width: 920px) {
.item-1  {
	background-position: right -320px top 61%;
    background-size:1080px;
}
.item-2 {
	background-position:right -320px top 68%;
}
.item-3 {
	background-position:right -320px top 47%;
}
}



@media (min-width: 921px) and (max-width: 1200px) {
.item-1  {
	background-position: right -320px top 61%;
    background-size:1080px;
}
.item-2 {
	background-position:right -320px top 68%;
}
.item-3 {
	z-index: 9999;
	background-position:right -300px top 47%;
}
}


.bg-color {
	width:100%;
	height: 250px;
background: rgba(66,104,153,1);
background: -moz-linear-gradient(left, rgba(66,104,153,1) 0%, rgba(66,104,153,1) 68%, rgba(199,46,153,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(66,104,153,1)), color-stop(68%, rgba(66,104,153,1)), color-stop(100%, rgba(199,46,153,1)));
background: -webkit-linear-gradient(left, rgba(66,104,153,1) 0%, rgba(66,104,153,1) 68%, rgba(199,46,153,1) 100%);
background: -o-linear-gradient(left, rgba(66,104,153,1) 0%, rgba(66,104,153,1) 68%, rgba(199,46,153,1) 100%);
background: -ms-linear-gradient(left, rgba(66,104,153,1) 0%, rgba(66,104,153,1) 68%, rgba(199,46,153,1) 100%);
background: linear-gradient(to right, rgba(66,104,153,1) 0%, rgba(66,104,153,1) 68%, rgba(199,46,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426899', endColorstr='#c72e99', GradientType=1 );
}

.bg-color-2 {
	width:100%;
	height: 250px;
	background: rgba(199,46,153,1);
background: -moz-linear-gradient(left, rgba(199,46,153,1) 0%, rgba(199,46,153,1) 83%, rgba(199,46,153,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(199,46,153,1)), color-stop(83%, rgba(199,46,153,1)), color-stop(100%, rgba(199,46,153,1)));
background: -webkit-linear-gradient(left, rgba(199,46,153,1) 0%, rgba(199,46,153,1) 83%, rgba(199,46,153,1) 100%);
background: -o-linear-gradient(left, rgba(199,46,153,1) 0%, rgba(199,46,153,1) 83%, rgba(199,46,153,1) 100%);
background: -ms-linear-gradient(left, rgba(199,46,153,1) 0%, rgba(199,46,153,1) 83%, rgba(199,46,153,1) 100%);
background: linear-gradient(to right, rgba(199,46,153,1) 0%, rgba(199,46,153,1) 83%, rgba(199,46,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c72e99', endColorstr='#c72e99', GradientType=1 );
}
.bg-color-3 {
	width:100%;
	height: 250px;
background: rgba(242,242,242,1);
background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 60%, rgba(66,104,153,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,242,242,1)), color-stop(60%, rgba(242,242,242,1)), color-stop(100%, rgba(66,104,153,1)));
background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 60%, rgba(66,104,153,1) 100%);
background: -o-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 60%, rgba(66,104,153,1) 100%);
background: -ms-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 60%, rgba(66,104,153,1) 100%);
background: linear-gradient(to right, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 60%, rgba(66,104,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#426899', GradientType=1 );
}
