* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  height: 100%;
}

.colors-list {
  height: 100%;
  width: 100%;
}

.color-list-item {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: #fff;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  transition-duration: .3s;
}

.color-list-item:hover {
  /*color: rgba(255,255,255,.2);*/
}

.color-view {
  text-align: center;
  height: calc(100% - 100px);
  font-size: 3em;
  font-family: Arial;
  color: #fff;
  letter-spacing: 2px;
  transition-duration: .2s;
  position: relative;
}

.h1 {
  position: absolute;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  top: 50%;
  width: 100%;
}
