* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

html, body {
  height: 100%;
}

.colors-list {
  height: 100%;
  width: 100%;
}

.color-list-item {

  font-size: 18px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: #fff;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  transition-duration: .3s;
}

.color-list-item:hover {
  /*color: rgba(255,255,255,.2);*/
}

.color-view {
  text-align: center;
  height: calc(100% - 100px);
  font-size: 3em;
  font-family: Arial;
  color: #fff;
  letter-spacing: 2px;
  transition-duration: .2s;
  position: relative;
}

.h1 {
  position: absolute;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  top: 50%;
  width: 100%;
  font-size: 100px;
  cursor: pointer;
}

.generated-palete {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 0px;
  right: 0px;
  width: 80%;
  margin: auto;
  z-index: 1000;
  border: solid #fff 3px;
  cursor: pointer;
}

#generate-action {
  color: #000;
  font-family: 'Arial';
  font-weight: bold;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 40px;
  background: #fff;
  border: solid 2px #000;
  z-index: 10000;
}