
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 1000px;
	/*background: #aaa;*/
}

.header {
	/*z-index: -2;*/
	width: 100%;
	height: 100vh;
	background: url(images/headerbg.jpg);
	background-size: cover;
	position: relative;
}

.header:before {
	z-index: 0;
	content: ' ';
	background-color: rgba(240, 74, 111, .5);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.head {
	background-color: rgba(0, 0, 0, .15);
	height: 70px;
}

.head .logo {
	font: 2em "ForteMT";
	color: #FFFFFF;
	line-height: 70px;
}

.head .menu {
	font: 1em "Proxima Semibold";
	list-style: none;
}

.head .menu li{
	display: inline-block;
	line-height: 70px;
	/*padding-right: 50px;*/
}

.head .menu li:last-child {
	margin-right: -20px; 
}

.head .menu li a {
	color: rgba(255, 255, 255, .35);
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	position: relative;
}

.head .menu li a:hover {
	color: #fff;
	cursor: pointer;
}

.head .menu li a:after,
.head .menu li a:before {
	content: ' ';
	position: absolute;
	width: 0px;
	height: 2px;
	background-color: #fff;
	bottom: 0px;
	transition-duration: .4s;
}

.head .menu li a:after {
	left: 50%;
}

.head .menu li a:before {
	right: 50%;
}

.head .menu li a:hover:after,
.head .menu li a:hover:before {
	width: 50%;
}

.header .wrapper {
	text-align: center;
	margin-top: 18vh;
}

.header h1 {
	font: 44px "Proxima Bold";
	color: #fff;
	letter-spacing: 3px;
	/*word-spacing: 2px;*/
}

.header .search-form {
	position: relative;
	height: 44px;
	width: 360px;
	margin: 0 auto;
}

.header input {
	border: 0;
	width: 100%;
	height: 100%;
	border-radius: 22px;
	padding-left: 20px;
	padding-top: 4px;
	font: 1.1em "Proxima Bold";
	line-height: 44px;
	color: #333;
	box-shadow: -4px 0 4px rgba(0,0,0,.1);
}

.header .submit {
	position: absolute;
	right: 0px;
	top: -4px;
	width: 86px;
	background-color: #f76f8d;
	color: #fff;
	height: 52px;
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
	border-radius: 30px;
	box-shadow: -4px 0 4px rgba(0,0,0,.1);
}

.header .submit:hover {
	background-color: #e26983;
	box-shadow: -6px 0 6px rgba(0,0,0,.1);
}