body {
	margin: 0;
	padding: 0;
}

.add-panel {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	/*top: 0;*/
	border: solid 1px black;
	overflow: hidden;
}

.add-panel-input{
	position: absolute;
	height: 100%;
	width: 75%;
	left: 0;
	background: #eee;
}

.add-panel-submit{
	position: absolute;
	height: 100%;
	width: 25%;
	right: 0;
	background: #ddd;
	box-shadow: 0 0 10px black;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	border: 0;
}