body {
	margin: 0;
	padding: 0;
}

.main-wrapper {
	position: relative;
	top: 62px;
}

/*-------------*/
/*--Add panel--*/
/*-------------*/
.add-panel {
	width: 100%;
	height: 60px;
	position: fixed;
	/*bottom: 0;*/
	top: 0;
	/*border: solid 1px black;*/
	overflow: hidden;
}

.add-panel-input{
	position: absolute;
	height: 100%;
	width: 75%;
	left: 0;
	background: #eee;
	border: 0;
	padding: 0 10px;
}

.add-panel-submit{
	position: absolute;
	height: 100%;
	width: 25%;
	right: 0;
	background: #ddd;
	box-shadow: 0 0 5px #666;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	border: 0;
}

/*-------------*/
/*--Task Item--*/
/*-------------*/
.remove-button {
	position: absolute;
	right: 0;
	border: 0;
	padding: 10px;
	margin: 0 10px;
	color: red;
	font-size: 20px;
	-webkit-user-select: none;  
 	-moz-user-select: none;    
 	-ms-user-select: none;      
 	user-select: none;
}

.item {
	height: 50px;
	display: block;
	position: relative;
	background: #eee;
	border: solid 1px #fff;
	padding: 0 10px;
}

.content {
	line-height: 50px;
}