 body {
 	margin: 0 auto;
 }

 .main {
	/*background-color: #fff;*/
	width: 100%;
	/*min-height: 400px;*/
	/*text-align: center;*/
	padding: 10px;
	/*margin: 10px auto;*/
	/*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
	border-radius: 10px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 200px;
  /*margin: 0 auto;*/
  margin-top: 20px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('dog.png') bottom right 15% no-repeat #46B6AC;
}

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}