body {
	background: #FEB109;
}

.wrapper {
	position: fixed;
	width: 734px;
	height: 500px;
	background: #FFFFFF;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	margin: auto;
	border-radius: 13px;
	box-shadow: 0px 6px rgba(0,0,0,.06);
	overflow: hidden;
}