#space{
	width:100%;
	position: fixed;
}

#warp{
	position:absolute;
	z-index:9;
	bottom:0;
	left:0;
	right:0;
	margin:20px auto;
	color:rgba(209, 255, 255,1);
	border:2px solid;
	padding:1em;
	width:10em;
	text-align:center;
	font-weight:700;
	font-size:1.2em;
	display:inline-block;
	text-decoration:none;
	background:rgba(0,0,0,0.8)
}

