.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  animation: preloader__hide 2.4s linear;
}

.preloader__slide { 
  width: 100%;
  height: 100%;
}

.preloader__slide-a { 
  background: #fff;
  animation: preloader__slide-close 4s .0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  line-height: 100vh;
  font-size: 4em;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
}
.preloader__slide-b {
  background: #bbb;
  animation: preloader__slide-close 4s .1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.preloader__slide-c {
  background: #777;
  animation: preloader__slide-close 4s .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.preloader__slide-d {
  background: #111;
  animation: preloader__slide-close 4s .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
} 

@keyframes preloader__hide {
  0% {
    z-index: 100;
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: 100;
  }
}

@keyframes preloader__slide-close {
  0% {
    height: 100%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 0%;
  }
}