body {
	background: #000;
	margin: 0;
	padding: 0;
}
.header {
	background: #000;
	height: 100vh;
	position: relative;
}
.logo {
	position: fixed;
	bottom: 30px;
	left: 30px;
}
.hey {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.main {
	box-sizing: content-box;
}

@media screen and (max-width: 420px) {
	.header .hey {
		display: none;
	}

	.header .logo {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}