.main-wrapper {
  height: 300px;
  width: 700px;
  background: #eee;
  margin: 100px auto;
}

#wrapper {
  height: 300px;
  width: 700px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

.input {
  width: 100%;
  height: 30px;
  border: 0;
  outline: none;
  font: 1.4em Arial;
}

.row {
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
  align-self: stretch;
  height: 100%;
}

.key {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #333;
  flex: 1;
  margin: 4px;
  border-radius: 3px;
  color: #fff;
  font: 1em Arial;
  transition-duration: .2s;
}

.space {
  flex: 4;
}

.lctrl {
  flex: 1.4;
}

.shift {
  flex: 2.6;
}

.caps {
  flex: 1.8;
}

.enter {
  flex: 2;
}

.slash {
  flex: 1.4;
}

.backspace {
  flex: 2;
}

.afnum {
  flex: .5;
}
