body {
	margin: 0;
	padding: 0;
}

.main-wrapper {
	position: relative;
	top: 62px;
}

/*-------------*/
/*--Add panel--*/
/*-------------*/
.add-panel {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	overflow: hidden;
}

.add-panel-input{
	position: absolute;
	height: 100%;
	width: 75%;
	left: 0;
	background: #eee;
	border: 0;
	padding: 0 10px;
}

.add-panel-submit{
	position: absolute;
	height: 100%;
	width: 25%;
	right: 0;
	background: #ddd;
	box-shadow: 0 0 5px #666;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	border: 0;
}

/*-------------*/
/*--Task Item--*/
/*-------------*/

.item {
	min-height: 50px;
	display: block;
	position: relative;
	background: #eee;
	border: solid 1px #fff;
	padding: 5px 24px 5px 10px;
	vertical-align: middle;
}

.remove-button {
	position: absolute;
	right: 0;
	bottom: 0;
	border: 0;
	/*margin: 0 10px;*/
	padding: 0;
	margin: 5px;
	color: red;
	font-size: 20px;
	-webkit-user-select: none;  
 	-moz-user-select: none;    
 	-ms-user-select: none;      
 	user-select: none;
}

.content {
	/*line-height: 50px;*/
}

/*-------------*/
/*Delete button*/
/*-------------*/

.clear-button {
	position: fixed;
	line-height: 50px;
	text-align: center;
	top: calc(100% - 60px);
	left: calc(100% - 60px);
	width: 50px;
	height: 50px;
	color: #eee;
	background: #333;
}