@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=cyrillic,cyrillic-ext');

body
{
  font-family: 'Ubuntu', sans-serif;
  background: #f2f2f2;
  margin-bottom: 50px;
}

html
{
  font-family: 'Ubuntu', sans-serif;
  min-height: 100%;
  position: relative;
}

.navbar
{
  background-color: #312d2d;
}

.navbar-inverse
{
  background: #312d2d;
}

.navbar-inverse .navbar-nav > .active > a
{
  background: #676767;
}

.navbar.navbar-inverse li a
{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #fff;
}

#headerwrap
{
  background: #f2f2f2;
}

#headerwrap-app
{
  background: #f2f2f2;
}

@media screen and (max-width: 765px)
{
  #headerwrap
  {
    background: #f2f2f2;
    margin-top: 70px;
  }
  #headerwrap-app
  {
    background: #f2f2f2;
    margin-top: 51px;
  }
}

@media screen and (min-width: 765px)
{
  #headerwrap
  {
    background: #f2f2f2;
    margin-top: 100px;
  }
  #headerwrap-app
  {
    background: #f2f2f2;
    margin-top: 51px;
  }
}

.navbar-toggle
{
  border: medium none;
}

.cont
{
  font-family: 'Ubuntu', sans-serif;
  background: #fff none repeat scroll 0 0;
  margin-bottom: 15px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}

.cont-title
{
  font-size: 22px;
  font-weight: 400;
  padding: 15px 10px 0;
  text-align: center;
}

.cont-description
{
  font-size: 14px;
  font-weight: 300;
  padding: 0 15px 10px;
  text-align: center;
  margin-top: 10px;
}

.cont-info
{
  color: #5f1b1b;
  background-color: rgba(235,156,156,0.6);
  padding: 5px;
  text-align: center;
}
.cont-info a
{
  color: #fff;
  text-decoration: underline;
}
.cont-info-warning
{
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 5px;
  text-align: center;
}

.cont a
{
  text-decoration: none;
}

.cont-butt
{
  background-color: rgba(46, 204, 113,1.0);
  color: #fff;
  height: 40px;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border-bottom: 2px solid #ccc;
}

#footer
{
  background: #312d2d none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-text
{
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  padding-top: 12px;
  text-align: center;
}

.footer-text a
{
  color: #fff;
  text-decoration: none;
}

.modal-content
{
  font-family: 'Ubuntu', sans-serif;
  border-radius: 0;
}

.form-control
{
  width: 250px;
  margin-left: 25px;
}

.modal
{
  text-align: center;
}

.modal-dialog
{
    width: 300px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-footer
{
  padding: 0;
}

.btn
{
  border-radius: 0;
}

.width-200 {
    border: medium none;
    float: right;
    margin: 0;
    padding: 7px 12px;
    width: 200px;
}
.width-100 {
    border: medium none;
    float: left;
    margin: 0;
    padding: 7px 12px;
    width: 98px;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 0;
}

.application-box
{
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-left: 0;
  margin-right: 0;
	margin-bottom: 10px;
  position: relative;
}

.installApp
{
  bottom: 10px;
  color: #528dd1;
  position: absolute;
  right: 10px;
  width: 25px;
  z-index: 6;
}

.icon
{
  height: 80px;
  width: 80px;
}

.col-icon {
    height: 80px;
    padding-left: 0;
    text-align: left;
    width: 80px;
}

.apps, .faq
{
  margin-top: 10px;
}

.apps
{
	margin-bottom: 15px;
}

.container
{
	padding-left: 10px !important;
	padding-right: 10px !important;
  color: #333333;
	line-height: 130%;
}

.row
{
  margin-bottom: 15px;
}

.title
{
  font-size: 15px;
  font-weight: 300;
  padding-top: 2px;
  z-index: -2;
}

.col-name {
	padding-left: 10px;
	padding-top: 3px;
}

.description
{
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
  z-index: -2;
}

.application-box-install {
    background-color: #5bc0de;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

.page-application-icon {
    padding-left: 0;
    height: 140px;
    width: 140px;
}

.page-application-author, .page-application-version, .page-application-install {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}

.page-application-desc-tabs {
    font-weight: 300;
    padding: 0;
}

.page-application-name {
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}

.slider-block {
	padding: 10px 10px 0px 10px;
}
#slides {
      display: none;
      margin-bottom:10px;
    }

    .slidesjs-navigation {
      margin-top:3px;
    }

    .slidesjs-previous {
      margin-right: 25px;
      float: left;
    }

    .slidesjs-next {
      margin-right: 25px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }


#panesVKPTabs .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}
#panesVKPTabs .tab-content {
  color : white;
  background-color: #4c75a3;
  padding : 5px 15px;
}

#panesVKPTabs .nav-pills > .active > a, #panesVKPTabs .nav-pills > .active > a:hover {
  border-radius: 5px 5px 0 0;
}

#panesIGPTabs .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#panesIGPTabs .tab-content {
  color : white;
  background-image: url("images/instagram-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding : 5px 15px;
}

#panesIGPTabs .nav-pills > .active > a, #panesIGPTabs .nav-pills > .active > a:hover {
  border-radius: 5px 5px 0 0;
    background-image: url("images/instagram-bg.jpg");
}

.tab-content
{
    padding: 0;
	line-height: 170%;
}
.tab-pane
{
    padding: 10px 15px;
}

.tab-comments
{
    padding: 0;
}

.nav-tabs
{
    border: medium none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-tabs li a
{
    margin-right: 0;
    padding: 10px 12px;
    position: relative;
}

.vk-bg
{
    background-color: #4c75a3;
    text-align: center;
}

.insta-bg
{
    background-image: url("images/instagram-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.ribbon
{
  font-family: 'Ubuntu', sans-serif;
  height: 75px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 75px;
  z-index: 1;
}
.ribbon span
{
  background: rgba(0, 0, 0, 0) linear-gradient(#e60000 0%, #e60000 100%) repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  right: -21px;
  text-align: center;
  top: 10px;
  transform: rotate(45deg);
  width: 80px;
}

.box-block
{
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-left: 0;
  margin-right: 0;
	margin-bottom: 10px;
  position: relative;
}

input[type=radio] {
  font-family: 'Ubuntu', sans-serif;
		display:none;
	}

input[type=radio] + label
{
  font-family: 'Ubuntu', sans-serif;
	display:inline-block;
	margin:-2px;
	padding: 4px 5px;
	margin-bottom: 0;
	font-size: 15px;
	line-height: 20px;
  font-weight: 500;
	color: #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
  background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
}

input[type=radio]:checked + label
{
  background-image: none;
  outline: 0;
  background-color:#5bde7e;
}

.buttBuy
{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}